.form{
    text-align: center;
    margin-top: 30px;
    height: 100px;
   
}
.btn{
    text-align: center;
    
   
}

.btn-submit{
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3em;
    color: white;
    border-color: white;


}
.logo{
    width: 25%;
    margin-left: 38%;
    
}
